<br>
<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h3>Images</h3>
    </div>
    <alert></alert>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Path</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let image of images">
          <td>{{ image?.path }}</td>
          <td>{{ image?.id }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
