<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h3>Projects</h3>
    </div>
    <form name="form" (ngSubmit)="f.form.valid && addProjects()"  #f="ngForm">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="frTitle">French Title</label>
          <input type="text" class="form-control" id="frTitle" placeholder="French title" maxlength="100" name="frTitle" [(ngModel)]="model.frTitle" #frTitle="ngModel" required>
        </div>
        <div class="form-group col-md-6">
          <label for="enTitle">English Title</label>
          <input type="text" class="form-control" id="enTitle" placeholder="English title" maxlength="100" name="enTitle" [(ngModel)]="model.enTitle" #enTitle="ngModel" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="frTitle">French Description</label>
          <input type="text" class="form-control" id="frDesc" placeholder="French description" maxlength="200" name="frDesc" [(ngModel)]="model.frDesc" #frDesc="ngModel" required>
        </div>
        <div class="form-group col-md-6">
          <label for="enDesc">English Description</label>
          <input type="text" class="form-control" id="enDesc" placeholder="English description" maxlength="200" name="enDesc" [(ngModel)]="model.enDesc" #enDesc="ngModel" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="link">Link</label>
          <input type="text" class="form-control" id="link" placeholder="URL/Link..." maxlength="100"  name="link" [(ngModel)]="model.link" #link="ngModel">
        </div>
      </div>
      <button [disabled]="f.form.invalid || disableBtn" type="submit" class="btn btn-primary">Add</button>
    </form>
    <br>
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">French Title</th>
          <th scope="col">English Title</th>
          <th scope="col">French Description</th>
          <th scope="col">English Description</th>
          <th scope="col">Link</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects">
          <td>{{ project?.frTitle }}</td>
          <td>{{ project?.enTitle }}</td>
          <td>{{ project?.frDesc }}</td>
          <td>{{ project?.enDesc }}</td>
          <td><a target="_blank" rel="noopener noreferrer" href="{{project?.link}}">{{ project?.link }}</a></td>
          <td>{{ project?.id }} <i class="fas fa-times"></i>&nbsp;&nbsp;<i class="fas fa-edit"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br>
